{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{app.user.name }} , this is your cart</h1>
            </div>
            {% for item in cartItems %}
            <div class="col-xs-12">
                <h2>{{item.product.title}}</h2>
                <p>qty: {{ item.quantity}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
