{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            
            <h2>{{category.title }}</h2>
            <div class="well">
                <p>{{ category.description }}</p>                           
            </div>
        </div>
    </div>
{% endblock %}
