{% extends 'admin/admin_base.html.twig' %}

{% block body %}
   <div class="container">
       <div class="row">
           <div class="col-xs-12">
               <h1>Administartion Panel</h1>
           </div>
           <div class="col-xs-12">
               <h2> Stats</h2>
               <div class="well">
                   <p><strong>Total users:</strong></p>
                   <p><strong>Total products:</strong></p>
                   <p><strong>Total categories:</strong></p>
                   <p><strong>Total orders:</strong></p>
               </div>               
           </div>
           <div class="col-xs-12">
               <h2> Manage products</h2>
           </div>
           <div class="col-xs-12">
               <h2> Manage users</h2>
           </div>
             <div class="col-xs-12">
               <h2> Manage categories</h2>
           </div>
       </div>
   </div>
{% endblock %}

