/*
* Author Mihail Lakov
*
*/

/** HEADER **/

.topbar{
    background: #3f3e3e;
    width:100%;
}
.topbar ul {
    padding:0;
    margin:0;
}
.topbar ul li{
    display:inline-block;
    list-style:none;
     padding:10px;
}
.topbar ul li a{
    color:white;
    padding:10px;
}
header{
    background:url('../images/header-background.jpg');
}
header nav{
    font-size:18px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:white;
    background:#33cccc;
    transition: all 0.2s ease;
}

header .header-main{
    margin:40px 0;
}
header h1.logo{
    text-align: center;
    font-size:60px;
    margin:0 auto;
    color:white;
    font-weight:bold;   
letter-spacing: 3px;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
header .navbar{
        margin-bottom: 0px; 
     border: none;
     border-radius:0px;
}

/** HOMEPAGE **/

.carousel .item{
    max-height:400px;
}
/** PRODUCT **/
.product{
    min-height:380px;
    padding:10px;
    border:1px solid #ccc;
    text-align: center;
    margin:10px 0;
}
.product .product-title a{
    display:block;
}
.product .product-title small{
    color:#ccc;
}
.price{
    color:#276658;
}
/** FOOTER **/
footer{
    width:100%;   
    background:#313131;
    color:white;
    padding:40px 0;
    margin-top:80px;
}