{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Registration page</h2>
            <div class="well">
            
            {{ form_start(registerForm) }}
                {{ form_widget(registerForm) }}
                <input type="submit" value="Submit" class="btn btn-lg">
            {{ form_end(registerForm) }}
            </div>
        </div>
    </div>
{% endblock %}
